<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regístrate</title>
</head>
<body>
    <div class="register-container">
        <h2>Regístrate</h2>
        <form action="#" method="post">
            <div class="input-group">
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                    </div>
                <input type="text" id="fullname" name="fullname" placeholder="Nombre Completo" required>
            </div>
            <div class="input-group">
                <div class="icon">
                    <i class="fas fa-envelope"></i>
                    </div>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required>
            </div>
            <div class="input-group">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                    </div>
                <input type="tel" id="phone" name="phone" placeholder="Teléfono/Celular" required>
            </div>
            <div class="input-group">
                <div class="icon">
                    <i class="fa-solid fa-key"></i>
                    </div>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="input-group">
                <div class="icon">
                    <i class="fa-solid fa-rotate-right"></i>
                    </div>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Repetir Contraseña" required>
            </div>
            <button type="submit">Regístrate</button>
        </form>
        <p>Al registrarte, aceptas nuestras <a href="#">Condiciones de uso</a> y <a href="#">Política de privacidad</a>.</p>
        <p>¿Ya tienes una cuenta? <a href="login">Iniciar Sesión</a></p>
    </div>
</body>
</html>
